<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile"
            fileName="logs/log-%X{caseID}.log"
            filePattern="logs/log-%X{caseID}-%d{yyyy-MM-dd_HH-mm-ss}.log.gz">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
